.kitties-list{
    background-color: #eee;
}
.add-kitty{
    background-color: #90dded;
}
.title{
    font-weight: bold;
    background-color: #90dddd;
}
.search-results{
    background-color: #fff8dc;
}

.order-settings label{
border: 1px dotted #aaa;
    margin-left: 10px;
}
.add-widget{
    max-width: 350px;
    display: inline-block;
}